$color-background: #400041;
$primary-color: #ffea00;
$secondary-color: #9a3a9d;
$green: #00d683;
$blue: #179fb5;
$purple-blue: #4e4f9e;
$font-title: "Righteous", cursive;
$font-secondary: "Roboto", sans-serif;
