@use '../../assets/scss/variables' as var;

.buttonMain {
  height: 45px;
  width: 300px;
  background-color: var.$primary-color;
  border-radius: 5px;
  border: none;
  margin: 15px 0px;
  font-size: 18px;
  color: var.$color-background;
  cursor: pointer;
}
