@use "../../assets/scss/variables" as var;

.titlePage {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0px auto 30px;
  width: fit-content;
  h2 {
    color: var.$primary-color;
    width: fit-content;
    font-size: 35px;
    position: relative;
    z-index: 1;
    text-align: center;
  }

  .hojaSup {
    position: absolute;
    top: 1px;
    right: -30px;
    width: 40px;
    height: 40px;
  }

  .hojaInf {
    position: absolute;
    bottom: -30px;
    left: -40px;
    width: 70px;
    height: 70px;
  }
}
